name: Expo EAS Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Expo CLI
        run: npm install -g eas-cli

      - name: Install dependencies
        run: npm install

      - name: EAS Build Android
        run: eas build --platform android --non-interactive --profile production
        env:
          EAS_BUILD_PROFILE: production
          EAS_PROJECT_ID: ${{ secrets.EAS_PROJECT_ID }}
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}